controllers:
  zigbee2mqtt:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      nodeSelector:
        # sonoff.feature.node.kubernetes.io/zigbee: "true"
        kubernetes.io/hostname: worker-04
    containers:
      app:
        image:
          repository: ghcr.io/koenkk/zigbee2mqtt
          tag: 2.8.0
        env:
          TZ: Europe/Zurich
          ZIGBEE2MQTT_DATA: /data
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: true
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_EXPERIMENTAL_EVENT_ENTITIES: true
          ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: false
          ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: false
          ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: false
          ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: false
          ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
          ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info
          ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
          ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
          ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
          ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: false
          ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: true
          ZIGBEE2MQTT_CONFIG_FRONTEND_ENABLED: true
          ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: 8080
          ZIGBEE2MQTT_CONFIG_FRONTEND_URL: "https://zigbee.pitower.link"
          ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: true
          ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
          ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: false
          ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://mosquitto.home-automation.svc.cluster.local
          ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
          ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: true
          ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 115200
          ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: false
          ZIGBEE2MQTT_CONFIG_SERIAL_PORT: tcp://slzb-06:6638  # /dev/ttyACM0
          ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: zstack # ember
        securityContext:
          privileged: true
      code-server:
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
        args:
          - --auth
          - none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir
          - /data/.code-server
          - --extensions-dir
          - /data/.code-server
          - --port
          - "12321"
          - /data
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
service:
  app:
    controller: zigbee2mqtt
    ports:
      http:
        primary: true
        port: 8080
      metrics:
        port: 9000
      code-server:
        port: 12321

route:
  app:
    hostnames:
      - zigbee.pitower.link
    parentRefs:
      - name: envoy-internal
        namespace: networking
        sectionName: https
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /code
        backendRefs:
          - identifier: app
            port: 12321
        filters:
          - type: URLRewrite
            urlRewrite:
              path:
                type: ReplacePrefixMatch
                replacePrefixMatch: /
      - backendRefs:
          - identifier: app
            port: 8080
persistence:
  data:
    existingClaim: zigbee2mqtt
    advancedMounts:
      zigbee2mqtt:
        app:
          - path: /data
        code-server:
          - path: /data
  # usb:
  #   type: hostPath
  #   hostPath: /dev/ttyACM0
  #   hostPathType: CharDevice
  #   globalMounts:
  #     - path: /dev/ttyACM0
