controllers:
  qbittorrent:
    pod:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"
      terminationGracePeriodSeconds: 120

    containers:
      app:
        nameOverride: qbittorrent
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
        env:
          UMASK: "022"
          QBT_WEBUI_PORT: &port 8080

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 8192Mi
        securityContext:
          runAsUser: 2000
          runAsGroup: 2000
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  app:
    controller: qbittorrent
    ports:
      http:
        port: *port

route:
  app:
    hostnames:
      - qbittorrent.pitower.link
    parentRefs:
      - name: envoy-internal
        namespace: networking
        sectionName: https

persistence:
  config:
    enabled: true
    existingClaim: qbittorrent-config
    advancedMounts:
      qbittorrent:
        app:
          - path: /config
  downloads:
    type: nfs
    server: data
    path: /volume1/media
    globalMounts:
      - path: /data/nas-media
        subPath: downloads/qbittorrent
