controllers:
  radarr:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        runAsNonRoot: true
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.1.1.10317@sha256:dc191495299b0adf19f4347ffe35f773c56a04d71e38a1f06aa564547b6e799e
        env:
          RADARR__INSTANCE_NAME: Radarr
          RADARR__PORT: &port 7878
          RADARR__AUTHENTICATION_METHOD: External
          RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
          RADARR__APPLICATION_URL: "https://radarr.pitower.link"
          RADARR__LOG_LEVEL: info
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 20m
            memory: 384Mi
          limits:
            memory: 2Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
service:
  app:
    controller: radarr
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: &host radarr.pitower.link
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *host

persistence:
  config:
    enabled: true
    existingClaim: radarr-config
  add-ons:
    type: emptyDir
  tmp:
    type: emptyDir
  media:
    type: nfs
    server: data
    path: /volume1/media
    globalMounts:
      - path: /data/nas-media
