controllers:
  excalidraw:
    replicas: 1
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: docker.io/excalidraw/excalidraw
          tag: latest@sha256:71b9c25d8bfb47c051015456ef9b64700d53934eeb0e691db5c6522bb265c362
          pullPolicy: IfNotPresent
        # probes:
        #   liveness:
        #     enabled: true
        #   readiness:
        #     enabled: true
        # resources:
        #   requests:
        #     cpu: 5m
        #     memory: 10Mi
        # limits:
        #   memory: 512Mi
        env:
          PORT: &port 8080
service:
  app:
    controller: excalidraw
    ports:
      http:
        port: *port

route:
  app:
    enabled: true
    hostnames:
      - draw.pitower.link
    parentRefs:
      - name: envoy-external
        namespace: networking
        sectionName: https

# ingress:
#   app:
#     className: external
#     annotations:
#       external-dns.alpha.kubernetes.io/target: external.pitower.link
#     hosts:
#       - host: &host draw.pitower.link
#         paths:
#           - path: /
#             service:
#               identifier: app
#               port: http
#     tls:
#       - hosts:
#           - *host
persistence:
  data:
    enabled: true
    type: emptyDir
