controllers:
  openspeedtest:
    containers:
      app:
        image:
          repository: openspeedtest/latest
          tag: v2.0.6
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: &port 3000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 128Mi

service:
  app:
    controller: openspeedtest
    ports:
      http:
        port: *port

route:
  app:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    hostnames:
      - openspeedtest.pitower.link
    parentRefs:
      - name: envoy-direct
        namespace: networking
        sectionName: https
