controllers:
  rrda:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/swibrow/rrda
          tag: 1.4.1
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /127.0.0.1:53/example.com/A
                port: &port 8080
              initialDelaySeconds: 5
              periodSeconds: 30
              timeoutSeconds: 5
          readiness: *probes
      dns-over-https:
        image:
          repository: docker.io/cloudflare/cloudflared
          tag: "2026.2.0"
        args:
          - proxy-dns
          - --port=53
          - --address=0.0.0.0
          - --upstream=https://1.1.1.1/dns-query
          - --upstream=https://1.0.0.1/dns-query

service:
  app:
    controller: rrda
    ports:
      http:
        port: *port

route:
  app:
    enabled: true
    hostnames:
      - rrda.pitower.link
    parentRefs:
      - name: envoy-external
        namespace: networking
        sectionName: https
