---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
helmCharts:
  - name: reloader
    repo: https://stakater.github.io/stakater-charts
    version: 2.2.8
    releaseName: reloader
    valuesFile: values.yaml
    namespace: system
