controllers:
  sonarr:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
        env:
          SONARR__INSTANCE_NAME: Sonarr
          SONARR__PORT: &port 8989
          SONARR__AUTHENTICATION_METHOD: External
          SONARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
          SONARR__APPLICATION_URL: "https://sonarr.pitower.link"
          # SONARR__LOG_LEVEL: info
          # SONARR__API_KEY:
          #   valueFrom:
          #     secretKeyRef:
          #       name: sonarr-secret
          #       key: api_key
        resources:
          requests:
            cpu: 20m
            memory: 512M
          limits:
            memory: 768M

service:
  app:
    controller: sonarr
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: "internal"
    hosts:
      - host: &host "sonarr.pitower.link"
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *host

persistence:
  config:
    enabled: true
    existingClaim: sonarr-config
  media:
    type: nfs
    server: data
    path: /volume1/media
    globalMounts:
      - path: /data/nas-media
