---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - httproute-hubble.yaml
helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.18.7
    releaseName: cilium
    includeCRDs: true
    valuesFile: values.yaml
    namespace: kube-system
