controllers:
  jellyfin:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
        kubernetes.io/arch: amd64
        kubernetes.io/hostname: "worker-04"
    containers:
      app:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
        env:
          DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
        resources:
          requests:
            cpu: 100m
            gpu.intel.com/i915: 1
            memory: 1024M
          limits:
            gpu.intel.com/i915: 1
            memory: 8192M
service:
  app:
    controller: jellyfin
    type: LoadBalancer
    annotations:
      # external-dns.alpha.kubernetes.io/hostname: jellyfin.pitower.link
      lbipam.cilium.io/ips: "192.168.0.229"
    ports:
      http:
        port: 8096

route:
  app:
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    hostnames:
      - jellyfin.pitower.link
    parentRefs:
      - name: envoy-direct
        namespace: networking
        sectionName: https

# ingress:
#   app:
#     className: external
#     annotations:
#       external-dns.alpha.kubernetes.io/target: external.pitower.link
#     hosts:
#       - host: &host jellyfin.pitower.link
#         paths:
#           - path: /
#             service:
#               identifier: app
#               port: http
#     tls:
#       - hosts:
#           - *host

persistence:
  config:
    existingClaim: jellyfin
    globalMounts:
      - path: /config
  config-cache:
    existingClaim: jellyfin-cache
    globalMounts:
      - path: /config/metadata
  media:
    type: nfs
    server: data
    path: /volume1/media
    advancedMounts:
      jellyfin:
        app:
          - path: /data/nas-media
  tmpfs:
    type: emptyDir
    advancedMounts:
      jellyfin:
        app:
          - path: /cache
            subPath: cache
          - path: /config/log
            subPath: log
          - path: /tmp
            subPath: tmp
  # quicksync:
  #   type: hostPath
  #   hostPath: /dev/dri
  #   hostPathType: Directory
  #   advancedMounts:
  #     jellyfin:
  #       app:
  #         - path: /dev/dri
