---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
data:
  bookmarks.yaml: |
    - Developer:
        - GitHub:
            - icon: github.svg
              href: https://github.com/swibrow/home-ops
        - HackerNews:
            - icon: hacker-news.svg
              href: https://news.ycombinator.com
    - Media:
        - YouTube:
            - icon: youtube.svg
              href: https://youtube.com/feed/subscriptions
    - Tools:
        - Excalidraw:
            - icon: excalidraw.svg
              href: https://draw.pitower.link
        - Miniflux:
            - icon: miniflux.svg
              href: https://miniflux.pitower.link
  docker.yaml: ""
  kubernetes.yaml: |
    mode: cluster
  services.yaml: |
    - Media:
        - Jellyfin:
            icon: jellyfin.svg
            href: https://jellyfin.pitower.link
            description: Media server
            widget:
              type: jellyfin
              url: http://jellyfin.media.svc.cluster.local:8096
              key: "{{HOMEPAGE_VAR_JELLYFIN_TOKEN}}"
              enableNowPlaying: true
        - Sonarr:
            icon: sonarr.svg
            href: https://sonarr.pitower.link
            description: TV shows
            widget:
              type: sonarr
              url: http://sonarr.media.svc.cluster.local:8989
              key: "{{HOMEPAGE_VAR_SONARR_TOKEN}}"
        - Radarr:
            icon: radarr.svg
            href: https://radarr.pitower.link
            description: Movies
            widget:
              type: radarr
              url: http://radarr.media.svc.cluster.local:7878
              key: "{{HOMEPAGE_VAR_RADARR_TOKEN}}"
        - Prowlarr:
            icon: prowlarr.svg
            href: https://prowlarr.pitower.link
            description: Indexer manager
            widget:
              type: prowlarr
              url: http://prowlarr.media.svc.cluster.local:9696
              key: "{{HOMEPAGE_VAR_PROWLARR_TOKEN}}"
        - qBittorrent:
            icon: qbittorrent.svg
            href: https://qbittorrent.pitower.link
            description: Torrent client
            widget:
              type: qbittorrent
              url: http://qbittorrent.media.svc.cluster.local:8080
        - SABnzbd:
            icon: sabnzbd.svg
            href: https://sabnzbd.pitower.link
            description: Usenet client
            widget:
              type: sabnzbd
              url: http://sabnzbd.media.svc.cluster.local:8080
              key: "{{HOMEPAGE_VAR_SABNZBD_TOKEN}}"
    - Home Automation:
        - Home Assistant:
            icon: home-assistant.svg
            href: https://ha.pitower.link
            description: Home automation
            widget:
              type: homeassistant
              url: http://home-assistant.home-automation.svc.cluster.local:8123
              key: "{{HOMEPAGE_VAR_HASS_TOKEN}}"
    - Selfhosted:
        - Tandoor:
            icon: tandoor.svg
            href: https://tandoor.pitower.link
            description: Recipe manager
        - n8n:
            icon: n8n.svg
            href: https://n8n.pitower.link
            description: Workflow automation
        - Glance:
            icon: glance.svg
            href: https://glance.pitower.link
            description: Dashboard
        - Cryptgeon:
            icon: mdi-lock-outline
            href: https://secrets.pitower.link
            description: Secret sharing
    - Monitoring:
        - Grafana:
            icon: grafana.svg
            href: https://grafana.pitower.link
            description: Dashboards
            widget:
              type: grafana
              url: http://grafana.monitoring.svc.cluster.local:3000
              username: "{{HOMEPAGE_VAR_GRAFANA_USER}}"
              password: "{{HOMEPAGE_VAR_GRAFANA_PASS}}"
        - Prometheus:
            icon: prometheus.svg
            href: https://prometheus.pitower.link
            description: Metrics
            widget:
              type: prometheus
              url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
    - Infrastructure:
        - Ceph:
            icon: ceph.svg
            href: https://ceph.pitower.link
            description: Distributed storage
  settings.yaml: |
    title: Home
    favicon: https://raw.githubusercontent.com/gethomepage/homepage/main/public/homepage.png
    theme: dark
    color: slate
    headerStyle: boxed
    statusStyle: dot
    hideVersion: true
    layout:
      Media:
        style: row
        columns: 3
      Home Automation:
        style: row
      Selfhosted:
        style: row
        columns: 2
      Monitoring:
        style: row
        columns: 2
      Infrastructure:
        style: row
  widgets.yaml: |
    - kubernetes:
        cluster:
          cpu: true
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: true
          showLabel: true
    - search:
        provider: [google]
        focus: false
        target: _blank
    - openmeteo:
        label: Home
        units: metric
        cache: 5
    - datetime:
        text_size: l
        format:
          dateStyle: long
          timeStyle: short
          hourCycle: h23
