---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        ## Media
        HOMEPAGE_VAR_JELLYFIN_TOKEN: "{{ .jellyfin_token }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .sonarr_token }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .radarr_token }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .prowlarr_token }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .sabnzbd_token }}"
        ## Home Automation
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .hass_token }}"
        ## Monitoring
        HOMEPAGE_VAR_GRAFANA_USER: "{{ .grafana_user }}"
        HOMEPAGE_VAR_GRAFANA_PASS: "{{ .grafana_pass }}"
  data:
    ## Media
    - secretKey: jellyfin_token
      remoteRef:
        key: jellyfin
        property: API_KEY
    - secretKey: sonarr_token
      remoteRef:
        key: sonarr
        property: SONARR__API_KEY
    - secretKey: radarr_token
      remoteRef:
        key: radarr
        property: RADARR__API_KEY
    - secretKey: prowlarr_token
      remoteRef:
        key: prowlarr
        property: PROWLARR__API_KEY
    - secretKey: sabnzbd_token
      remoteRef:
        key: sabnzbd
        property: API_KEY
    ## Home Automation
    - secretKey: hass_token
      remoteRef:
        key: homeassistant
        property: HASS_TOKEN
    ## Monitoring
    - secretKey: grafana_user
      remoteRef:
        key: grafana
        property: ADMIN_USER
    - secretKey: grafana_pass
      remoteRef:
        key: grafana
        property: ADMIN_PASSWORD
