controllers:
  homepage:
    annotations:
      reloader.stakater.com/auto: "true"
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.10.1
        env:
          TZ: Europe/Zurich
          HOMEPAGE_ALLOWED_HOSTS: home.pitower.link
        envFrom:
          - secretRef:
              name: homepage-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                port: 3000
                path: /api/healthcheck
                httpHeaders:
                  - name: Host
                    value: home.pitower.link
              initialDelaySeconds: 0
          readiness: *probes
          startup: *probes
    serviceAccount:
      identifier: homepage
service:
  app:
    controller: homepage
    ports:
      http:
        port: 3000

route:
  app:
    enabled: true
    hostnames:
      - home.pitower.link
    parentRefs:
      - name: envoy-external
        namespace: networking
        sectionName: https

persistence:
  config:
    enabled: true
    type: configMap
    name: homepage-config
    globalMounts:
      - subPath: bookmarks.yaml
        path: /app/config/bookmarks.yaml
      - subPath: docker.yaml
        path: /app/config/docker.yaml
      - subPath: kubernetes.yaml
        path: /app/config/kubernetes.yaml
      - subPath: services.yaml
        path: /app/config/services.yaml
      - subPath: settings.yaml
        path: /app/config/settings.yaml
      - subPath: widgets.yaml
        path: /app/config/widgets.yaml
serviceAccount:
  homepage: {}
