controllers:
  sabnzbd:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      nodeSelector:
        kubernetes.io/arch: amd64
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sabnzbd
          tag: 4.5.5@sha256:da57e01cdebc547852b6df85c8df8c0e4d87792742c7608c5590dc653b184e8c
        env:
          SABNZBD__PORT: &port 8080
          SABNZBD__HOST_WHITELIST_ENTRIES: >-
            sabnzbd,
            sabnzbd.downloads,
            sabnzbd.downloads.svc,
            sabnzbd.downloads.svc.cluster,
            sabnzbd.downloads.svc.cluster.local,
            sabnzbd.pitower.link
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
service:
  app:
    controller: sabnzbd
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: &host "sabnzbd.pitower.link"
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *host

persistence:
  config:
    existingClaim: sabnzbd-config
    advancedMounts:
      sabnzbd:
        app:
          - path: /config
  media:
    type: nfs
    server: data
    path: /volume1/media
    globalMounts:
      - path: /data/nas-media
  downloads:
    existingClaim: sabnzbd-downloads
    advancedMounts:
      sabnzbd:
        app:
          - path: /downloads
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
