[defaults]
inventory = inventory/hosts.yaml
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
vars_plugins_enabled = host_group_vars,community.sops.sops

[privilege_escalation]
become = True
become_method = sudo
