controllers:
  sharkord:
    annotations:
      reloader.stakater.com/auto: "true"

    containers:
      app:
        image:
          repository: sharkord/sharkord
          tag: latest
        env:
          RUNNING_IN_DOCKER: "true"
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: &port 4991
              periodSeconds: 30
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: *port
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: *port
              failureThreshold: 30
              periodSeconds: 5

service:
  app:
    controller: sharkord
    ports:
      http:
        port: *port
  rtc:
    controller: sharkord
    ports:
      rtc-udp:
        port: 40000
        targetPort: 40000
        protocol: UDP
      rtc-udp-1:
        port: 40001
        targetPort: 40001
        protocol: UDP
      rtc-udp-2:
        port: 40002
        targetPort: 40002
        protocol: UDP
      rtc-udp-3:
        port: 40003
        targetPort: 40003
        protocol: UDP
      rtc-udp-4:
        port: 40004
        targetPort: 40004
        protocol: UDP
      rtc-udp-5:
        port: 40005
        targetPort: 40005
        protocol: UDP
      rtc-udp-6:
        port: 40006
        targetPort: 40006
        protocol: UDP
      rtc-udp-7:
        port: 40007
        targetPort: 40007
        protocol: UDP
      rtc-udp-8:
        port: 40008
        targetPort: 40008
        protocol: UDP
      rtc-udp-9:
        port: 40009
        targetPort: 40009
        protocol: UDP
      rtc-udp-10:
        port: 40010
        targetPort: 40010
        protocol: UDP
      rtc-udp-11:
        port: 40011
        targetPort: 40011
        protocol: UDP
      rtc-udp-12:
        port: 40012
        targetPort: 40012
        protocol: UDP
      rtc-udp-13:
        port: 40013
        targetPort: 40013
        protocol: UDP
      rtc-udp-14:
        port: 40014
        targetPort: 40014
        protocol: UDP
      rtc-udp-15:
        port: 40015
        targetPort: 40015
        protocol: UDP
      rtc-udp-16:
        port: 40016
        targetPort: 40016
        protocol: UDP
      rtc-udp-17:
        port: 40017
        targetPort: 40017
        protocol: UDP
      rtc-udp-18:
        port: 40018
        targetPort: 40018
        protocol: UDP
      rtc-udp-19:
        port: 40019
        targetPort: 40019
        protocol: UDP
      rtc-udp-20:
        port: 40020
        targetPort: 40020
        protocol: UDP

persistence:
  data:
    existingClaim: sharkord
    advancedMounts:
      sharkord:
        app:
          - path: /root/.config/sharkord

route:
  app:
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    hostnames:
      - sharkord.pitower.link
    parentRefs:
      - name: envoy-direct
        namespace: networking
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
